.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-image: url("./images/cover1.jpg");
  color: white;
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px;
  font-family: cursive;
}

.cart ion-icon {
  vertical-align: bottom;
  font-size: 20px;
  padding-right: 5px;
  cursor: pointer;
}
